*.ami
*.la
*.lo
*.m4
*.pot
*.exp
*.log
*.sum
.libs
.yardoc/
doc/
runtest.sh
package/*.bz2
stamp-h*
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
COPYRIGHT.english
depcomp
install-sh
libtool
ltconfig
ltmain.sh
Makefile
Makefile.am
Makefile.am.common
Makefile.in
missing
mkinstalldirs
DONE
